.top-con,.tp{
	width: 1200px;
	margin: 0 auto;
}
.top-con{
	height: 35px;
	line-height: 35px;
	color: #666666;
	position: relative;
}
.top-con a{
	color: #666666;
}
.top-left{
	float: left;
}
.top-left >ul> li{
	float: left;
	padding: 0 12px;
}
.top-left .top-dl{
	color: #e51b46;
}
.top-left .top-dl:hover{
	color: #e51b46;
	text-decoration: underline;
}
.top-left .top-zc{
	color: #666666;
}
.top-left .top-zc:hover{
	text-decoration: underline;
	color: #666666;
}
.top-con li .ico{
	width: 7px;
	height: 4px;
	overflow: hidden;
	vertical-align: middle;
	background: url(../images/top-bg.png) no-repeat;
	background-position: 0 -40px;
	position: absolute;
	top: 15px;
	-webkit-transition: all 1s ;
}
.top-con li:hover .ico{
	background-position: 0 -50px;
	-webkit-transform: rotate(360deg);
}
.top-wddm:hover,.dm-xinxi:hover,.dm-sjw:hover{
	background: #FFFFFF;
	border: solid 1px #DEDEDE;
	border-bottom: none;
	margin-top: -1px;
}
.top-right .dm-fuwu .dm-kehu:hover,.dm-dh:hover,.top-last:hover{
	background: #FFFFFF;
	border: solid 1px #DEDEDE;
	border-bottom: none;
	margin-top: -1px;
	height: 33px;
}
.top-wddm{
	width: 81px;
	height: 33px;
	margin-left: -12px;
}
.dm-xinxi{
	width: 110px;
	margin-left: -15px;
}
.dm-sjw{
	width: 66px;
	margin-left: -15px;
}
.dm-kehu{
	width: 84px;
	margin-left: -14px;
}
.dm-dh{
	width: 100px;
	margin-left: -14px;
}
.dm-t{
	width: 39px;
}
.top-wddm >a,.dm-xinxi >a,.dm-sjw >a,.dm-kehu >a,.dm-dh> a{
	margin-left: 12px;
}
.ico-wddm{
	margin-left: 5px;
}
.ico-fw{
	margin-left: 5px;
}
.ico-dh{
	margin-left: 20px;
}
.top-right{
	float: right;
}
.top-right> ul> li{
	float: left;
	padding: 0 15px;
	color: #dedede;
}
.tp a{
	float: left;
}
.tp-x{
	position: absolute;
	right: 130px;
	width: 15px;
	height: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}
.top-dm {
	width: 80px;
	position: absolute;
	top: 35px;
	background: #FFFFFF;
	text-align: center;	
	padding-top: 10px;
	border: solid 1px #DEDEDE;
	border-top: none;
	display: none;
	z-index: 1000;
}
.top-dm ul li{
	margin: 0;
}
.top-khfu {
	width: 80px;
	position: absolute;
	top: 34px;
	background: #FFFFFF;
	text-align: center;	
	padding-top: 10px;
	border: solid 1px #DEDEDE;
	border-top: none;
	display: none;
	z-index: 1000;
}
.top-dm a,.top-khfu a{
	display: block;
	height: 22px;
	line-height: 22px;
	color: #000000;
}
.top-dm a:hover,.top-khfu a:hover{
	display: block;
	color: #E51B46;
	background: #F7F7F7;
}
.top-sp{
	display: block;
	float: left;
	border-left: solid 1px #DEDEDE;
	width: 1px;
	margin-top: 12px;
	height: 12px;
}
.top-l{
	width: 59px;
}

.top-dm-wei{
	width: 83px;
}
.top-wei{
	position: absolute;
	right: 339px;
	width: 100px;
	height: 83px;
	background: #FFFFFF;
	border: solid 1px #DEDEDE;
	border-top: none;
	padding: 20px 0 10px 12px;
	display: none;
	z-index: 1000;
}
.dm-weixin {
	width: 104px;
	height: 100px;
	background: url(../images/weixin.png) no-repeat;
}
.dm-app{
	width: 40px;
}
.dm-fuwu{
	width: 59px;
}
.dm-sj{
	position: absolute;
	right: 106px;
	background: #FFFFFF;
	color: #666666;
	width: 228px;
	height: 300px;
	border-top: none;
	border: solid 1px #DEDEDE;
	border-top: none;
	display: none;
	z-index: 1000;
}
.dm-code span{
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	width: 84px;
	height: 84px;
	background: url(../images/kehuduan1.png) no-repeat;
}
.dm-code i{
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	width: 84px;
	height: 84px;
	background: url(../images/weixin.png) no-repeat;
}
.dm-code b{
	position: absolute;
	width: 33px;
	height: 30px;
	margin-left: 118px;
	margin-top: 15px;
	background: url(../images/jiantou.png) no-repeat;
}
.dm-code p{
	margin-left: 118px;
}
.dm-code .t1{
	padding-top: 40px;
	height: 32px;
	line-height: 32px;
}
.dm-code .t3{
	padding-top: 40px;
	height: 20px;
	line-height: 20px;
}
.dm-code .t2{
	font-size: 18px;
	color: #E51B46;
}
.dm-code .t4{
	font-size: 18px;
	color: #E51B46;
	margin-top: 10px;
}
.dm-sj a img{
	display: block;
	margin-left: 20px;
	margin-top: 2px;
}
.dm-site-nav{
	width: 73px;
}
.dm-c{
	position: absolute;
	top: 35px;
	right: 4px;
	display: block;
	background: #FFFFFF;
	width: 782px;
	height: 298px;
	border: solid 1px #DEDEDE;
	border-top: none;
	display: none;
	z-index: 1000;
}
.dm-sev01 a,.dm-sev02 a{
	display: block;
	margin-right: 10px;
	padding: 0 10px;
}
.dm-sev01 a:hover,.dm-sev02 a:hover{
	color: #E51B46;
	text-decoration: underline;
}
.dm-sev01 dd li,.dm-sev02 dd li{
	float: left;
	height: 26px;
	line-height: 26px;
}
.dm-c dt{
	font-size: 14px;
}
.dm-sev01{
	height: 298px;
	width: 160px;
	float: left;
	margin-left: 10px;
}
.dm-sev02{
	width: 428px;
	float: left;
	margin-left: 10px;
}
.dm-c .dm-list{
	position: absolute;
	margin-top: 30px;
	width: 5px;
	color: #F7F7F7;
	height: 240px;
	border-left: solid 1px #F7F7F7;
}

/*main*/
.main {
    width: 1200px;
    margin: 0 auto;
    clear: both;
    position: relative;
}
.head{
	background: url(../images/banner/bg.jpg) no-repeat center top;
}
/*bottom*/
.dm-bottom {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
}
.dm-bottom .dm-links {
    text-align: center;
    color: #d9d9d9;
    line-height: 42px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.dm-bottom .dm-copyright {
    color: #666;
    line-height: 20px;
    padding-bottom: 15px;
    text-align: center;
}
.dm-bottom .dm-links a {
    color: #666;
    margin: 0 10px;
}
.dm-bottom .dm-copyright a {
    padding: 0 10px;
    color: #666;
}
.dm-bottom a:hover{
	text-decoration: underline;
	color: #FF3C3C;
}
