.login_header .wrap {
    padding: 20px 0;
    background-color: #fff;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
}
.login_header {
    height: 87px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
}
.header_en {
    display: block;
    width: 120px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #e3e3e3;
    margin-top: 3px;
    float: right;
}
.header_en:hover,.m_layer_tab li a:hover{
	color: #FF3C3C;
}
.header_left{
	float: left;
}
.header_left .header_logo {
    display: block;
    width: 126px;
    height: 47px;
    padding-right: 20px;
    overflow: hidden;
    float: left;
}
.header_left .header_title {
    line-height: 47px;
    font-size: 28px;
    color: #333;
    font-family: Microsoft YaHei;
    border-left: 1px solid #e5e5e5;
    padding-left: 20px;
    float: left;
}
.main{
	width: 1000px;
	margin: 0 auto;
}
.login_account {
    height: 580px;
    margin: 50px 0 70px;
    position: relative;
    overflow: hidden;
}
.m_layer_tab{
	overflow: hidden;
	clear: both;
}
.m_layer_tab .active{
	background: #FFFFFF;
	/*border-left: 1px solid #efefef;*/
	/*border-right: 1px solid #EFEFEF;*/
}
.m_layer_tab .active a{
	color: #f2546b;
}
.m_layer_tab .active .zhanghu{
	background: url(../images/banner/m_login_active.png) no-repeat;
}
.m_layer_tab .active .erweima{
	background: url(../images/banner/m_ewm_active.png) no-repeat;
}
.m_layer_tab .active .duanxin{
	background: url(../images/banner/m_message_active.png) no-repeat;
}
.m_layer_tab li{
	float: left;
	width: 146px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	background: #f8f8f8;
}
.zhanghu{
	width: 13px;
	height: 15px;
	float: left;
	background: url(../images/banner/m_login_pic.png) no-repeat;
	position: relative;
    left: 30px;
    top: 13px;
}
.erweima{
	width: 13px;
    height: 13px;
    float: left;
    margin: 14px 0 0 30px;
    background: url(../images/banner/m_ewm.png) no-repeat;
}
.login_account .account_con{
	width: 440px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
   /* padding: 15px 30px 30px;*/
    margin-left: 548px;
    position: relative;
    height: 401px;
}
.duanxin{
	background: url(../images/banner/m_message_pic.png) no-repeat;
	width: 11px;
    height: 16px;
    float: left;
    margin: 12px 0 0 30px;
}
.tab_QR a:visited .erweima{
	background: url(../images/banner/m_ewm_active.png) no-repeat;
}
.text{
	display: block;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    border: none;
    padding: 0 10px;
    color: #c3c3c3;
    outline: none;
    float: left;
    overflow: hidden;
    background: #fff;
    margin-left: 50px;
    width: 130px;
}
.account_list .account_inner{
	height: 27px;
    line-height: 27px;
    padding: 8px 0;
    border: 1px solid #e3e3e3;
    float: left;
    margin-top: 10px;
    margin-left: 28px;
    margin-bottom: 20px;
}
.account_inner{
	height: 27px;
    line-height: 27px;
    padding: 8px 0;
    border: 1px solid #e3e3e3;
}
.account_inner1{
	border: 1px solid #666666 !important;
}
.account_list .account_inner span,.account_inner span,.account_pass{
	display: block;
    width: 45px;
    height: 27px;
    border-right: 1px solid #e3e3e3;
    background: url(../images/banner/icon_bg.png) no-repeat 10px 0;
    float: left;
    position: absolute;
}

.account_list .account_inner .account_pass,.layer_inner,.account_pass{
	background-position: 10px -29px;
}
.account_box .account_list {
    margin-top: 18px;
}
.pt30 {
    padding-top: 30px;
}
.login_btn{
	margin-top: 20px;
	display: block;
	width: 380px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	background: #F2546B;
	border: none;
	cursor: pointer;
	margin-left: 30px;
}
.account_con .account_txt {
    height: 22px;
    line-height: 22px;
    color: #666;
    font-family: Microsoft YaHei;
    overflow: hidden;
    margin-top: 10px;
}
.account_con .account_txt a {
    display: block;
    float: right;
    font-size: 14px;
}
.checkbox input {
    vertical-align: -3px;
    width: 14px;
    height: 14px;
    margin-left: 30px;
}
.checkbox span {
    padding-left: 5px;
}
.wang{
	margin-right: 30px;
	color: #FF3C3C;
}
.account_con .account_share span {
    display: block;
    color: #333;
    padding-right: 5px;
    font-family: Microsoft YaHei;
    float: left;
    line-height: 24px;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 15px;
}
.account_con .account_share a{
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-right: 10px;
	background: url(../images/banner/share_bg.png) no-repeat;
	float: left;
	 margin-top: 15px;
}
.account_con .account_share .wx{
	background-position: 0 0;
}
.account_con .account_share .qq{
	background-position: 0 -25px;
}
.account_con .account_share .sina{
	background-position: 0 -50px;
}
.account_con .account_share .zhifubao{
	background-position: 0 -75px;
}
.login_account .account_banner {
    width: 528px;
    height: 395px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.jing{
	position: relative;
	left: 497px;
}
/**/
#select{
	width: 155px;
	height: 22px;
	background: #FFFFFF;
}
#select div{
	position: relative;
	left: -1px;
	top: 8px;
	background: #FFFFFF;
	width: 165px;
	border: 1px solid #ebebeb;
	border-top: none;
	font-size: 14px;
	line-height: 38px;
	color: #000000;
	max-height: 270px;
	overflow-y: auto;
}
#tishil{
	position: absolute;
	top: -48px;
}
.c2{
	color: #666666;
}
.pt10{
	padding-top: 10px;
}
#box{
	width: 160px;
	height: 27px;
	position: relative;
	float: left;
	left: 0;
	border-right: 1px solid #E3E3E3;
	z-index: 1000;
	margin-left: 50px;
    margin-top: 2px;
    float: left;
}
#select h3{
	text-decoration: none;
	background: url(../images/index/select_bg.png) no-repeat right center;
	display: block;
	line-height: 27px;
	height: 27px;
	font-size: 14px;
	font-weight: normal;
	padding: 0 28px 0 5px;
	color: #000000;
	cursor: pointer;
}
#select b{
	text-align: right;
	font-weight: 400;
	margin-right: 5px;
}
#select .active{
	background: #f1f1f1;
	color: #000000;
	cursor: pointer;
}
#select div p{
	padding: 0px 5px 0 10px;
	height: 38px;
	line-height: 38px;
}
.fr{
	float: right;
}
.m_china,.m_hongkong,.m_macao,.m_taiwan{
	width: 30px;
	height: 20px;
	background: url(../images/tiyu/jack_pic.png) no-repeat 0 0;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #E3E3E3;
	float: left;
	margin-right: 5px;
}
.m_china{
	background-position: 0 0;
}
.m_hongkong{
	background-position: 0 -23px;
}
.m_macao{
	background-position: 0 -46px;
}
.m_taiwan{
	background-position: 0 -69px;
}
.account_code{
	height: 225px;
	margin: 0 -30px;
	padding: 0 30px;
}
.hide{
	display: none;
}
.dlform_block{
	display: none;
}
.dlform_1{
	display: block;
}
.account_title{
	height: 30px;
	margin-bottom: 15px;
}
.account_title span{
	display: block;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	text-align: left;
}
.dlform_2{
	margin-top: 30px;
	text-align: center;
	padding: 0 30px;
}
.code_tips{
	height: 25px;
	line-height: 25px;
	color: #333333;
	font-size: 14px;
	
}
.code_tips a{
	padding: 0 5px;
	color: #599e01;
}
.code_img{
	display: block;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	padding: 4px;
	margin: 15px auto;
}
.code_change a{
	display: inline-block;
	line-height: 22px;
	font-size: 14px;
	padding-left:18px ;
	background: url(../images/banner/icon_bg.png) no-repeat 0 -276px;
}
.code_change a:hover{
	color: #E51A45;
	background: url(../images/banner/icon_bg.png) no-repeat 0 -301px;
}
.account_inner .text{
	margin: 0;
}
.layer_inner{
	height: 27px;
	line-height: 27px;
	padding: 8px 0;
	border: 1px solid #E3E3E3;
	float: left;
	margin-top: 15px;
}
.m_send_code{
	width: 124px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	background: #F0F0F0;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	color: #000000;
	margin-top: 15px;
}
.pt10{
	padding-bottom: 20px;
    color: #666666;
    text-align: left;
    font-size: 14px;
}
.dlform_block{
	padding: 0 30px;
}
.code_con{
	text-align: center;
}
.dlform_block .login_btn{
	margin-top: 20px;
    display: block;
    width: 380px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    background: #F2546B;
    border: none;
    cursor: pointer;
    margin-left: 0;
    
}
