.g-hd{
	width: 100%;
	background: #E51B46;
}
.g-hdc{
	width: 1240px;
	height: 50px;
	margin: 0 auto;
}
.m-logo{
	float: left;
	margin: 8px 0 0 20px;
	width: 86px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	background: url(../images/tiyu/m-logo.png) no-repeat;
}
.m-citys{
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.m-citys .tt{
	float: left;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	overflow: hidden;
	color:#FFFFFF;
}
.m-citys .tt .txt{
	float: left;
	overflow: hidden;
}
.m-citys .tt .arrow{
	float: left;
	width: 8px;
	height: 4px;
	margin: 22px 0 0 6px;
	background: url(../images/ultimate-sprites.png) no-repeat;
	position: absolute;
}
.m-nav{
	padding-left: 15px;
	float: left;
}
.m-nav li{
	float: left;
}
.m-nav li a{
	color: #FFFFFF;
	padding: 0 10px;
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
}
.m-topbar{
	float: right;
}
.m-topbar .itm{
	float: left;
	height: 50px;
	border-left: 1px solid #ec5474;
	position: relative;
}
.m-topbar .m-search{
	margin: 10px 20px 0 0;
}
.m-search{
	background: #FFFFFF;
	width: 323px;
	height: 30px;
}
.m-search .ipt{
	float: left;
	width: 257px;
	line-height: 18px;
	padding: 6px 10px;
	border: none;
}
.m-search .btn{
	float: left;
	width: 36px;
	height: 30px;
	line-height: 30px;
	border: 0;
	overflow: hidden;
	background: url(../images/ultimate-sprites.png) no-repeat -53px 8px;
}
.m-sign{
	float: left;
	display: inline;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 10px 0 10px 20px;
}
.m-sgn-logo{
	width: 190px;
}
.m-sign .user{
	float: left;
	color: #FFFFFF;
	width: 30px;
	height: 30px;
	overflow: hidden;
}
.m-sign .sign{
	margin-left: 10px;
	color: #FFFFFF;
}
.m-sign .sign a{
	color: #FFFFFF;
	margin-right: 5px;
}
.m-quick .tt{
	position: relative;
	width: 148px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	background: transparent;
	cursor: pointer;
}
.m-quick .tt em{
	margin: 20px 4px 0 20px;
	width: 14px;
	height: 12px;
	overflow: hidden;
	background: url(../images/ultimate-sprites.png) no-repeat -32px 0;
	position: absolute;
}
.m-quick .tt a{
	color: #FFFFFF;
	margin-right: 10px;
	margin-left: 40px;
}
.m-quick .tt b{
	width: 8px;
	height: 4px;
	margin: 22px 0 0 0;
	background-position: 0 0;
	background: url(../images/ultimate-sprites.png) no-repeat;
	position: absolute;
}
/*main*/
.g-bdc{
	width: 1240px;
	margin: 0 auto;
}
.g-mn{
	padding-top: 30px;
}
.m-box .hd{
	position: relative;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eaeceb;
	height: 50px;
}
.m-box{
	border: 1px solid #EAEAEA;
	margin-bottom: 20px;
	float: left;
	width: 1240px;
}
.hd .m-cm{
	float: left;
	padding: 12px 20px 14px 20px;
	line-height: 24px;
}
.m-cm .arrow{
	color: #cccccc;
}
.m-cm a{
	color: #666666;
}
.m-cm strong{
	font-weight: bold;
}
.m-pic{
	position: relative;
	height: 372px;
	overflow: hidden;
	margin: 0 0 20px 0;
}
.m-pic img{
	width: 277px;
	height: 377px;
}
.mn{
	position: relative;
	float: left;
	width: 966px;
	/*height: 691px;*/
	border-top: none;
	border-right: 1px solid #EAEAEA;
}
.m-poster{
	float: left;
	width: 276px;
	padding: 30px 20px 30px 30px;
}
.m-share{
	padding: 0 0 20px 52px;
	color: #999999;
	zoom: 1;
}
.m-share .txt{
	float: left;
	padding-top: 3px;
}
.m-share a{
	float: left;
	width: 18px;
	height: 18px;
	margin: 3px 5px 0 0;
}
.jtico{
	width: 18px;
	height: 18px;
	
}
.jiathis_txt{
	float: left;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
}
.jtico_tsina{
	background: url(../images/ultimate-sprites.png) no-repeat 0 -96px;
}
.jtico_weixin{
	background: url(../images/ultimate-sprites.png) no-repeat -32px -96px;
}
.jtico_qzone{
	background: url(../images/ultimate-sprites.png) no-repeat -64px -96px;
}
.jtico_tsina:hover{
	background: url(../images/ultimate-sprites.png) no-repeat 0 -128px;
}
.jtico_weixin:hover{
	background: url(../images/ultimate-sprites.png) no-repeat -32px -128px;
}
.jtico_qzone:hover{
	background: url(../images/ultimate-sprites.png) no-repeat -64px -128px;
}
.m-goods{
	float: left;
	width: 620px;
	padding: 30px 20px 30px 0;
	position: relative;
}
.m-goods .tt{
	position: relative;
	top: -8px;
	font-weight: bold;
	font-size: 18px;
	line-height: 2em;
	color: #000000;
	padding-bottom: 10px;
}
.m-flowers{
	display: inline-block;
	position: relative;
	left: -10px;
	top: 23px;
	margin-top: -36px;
	vertical-align: top;
	width: 68px;
	height: 68px;
	text-align: center;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}
.m-flowers .ico{
	width: 34px;
	height: 34px;
	margin: 8px auto 0 auto;
	display: block;
	background: url(../images/tiyu/m-flowers.png) no-repeat -54px 0;
	margin-left: 23px;
	
}
.m-flowers .num,.m-flowers .txt{
	display: block;
	height: 20px;
	line-height: 14px;
}
.m-flowers .txt{
	display: none;
}
.m-timeline{
	position: relative;
	border: 1px dotted #CCCCCC;
	border-left: none;
	border-right: none;
	background-color: #fdf7f5;
	overflow: hidden;
	padding: 20px;
}
.m-timeline .warp{
	width: 580px;
	overflow: hidden;
}
.m-timeline .box{
	position: relative;
	width: 1000px;
}
.m-timeline .bar{
	position: absolute;
	left: 2px;
	top: 30px;
	width: 580px;
	height: 3px;
	background-color: #e6e6e6;
}
.m-timeline .bar1{
	position: absolute;
	left: 10px;
	top: 30px;
	width: 140px;
	height: 3px;
	background-color: #ff4a00;
}
.m-timeline .itm{
	position: relative;
	z-index: 3;
	float: left;
}
.m-timeline .txt{
	height: 19px;
	line-height: 19px;
	vertical-align: text-bottom;
	color: #999999;
	font-size: 12px;
	font-weight: normal;
    font-family: "Microsoft Yahei";
}
.m-timeline .ico{
	display: block;
	width: 12px;
	height: 12px;
	margin: 6px 0 8px 0;
	background: url(../images/ultimate-sprites.png) no-repeat -64px -160px;
}
.m-timeline-2 .itm-1 .ico{
	background-position: -96px -160px;
}
.m-timeline-2 .itm-2 .ico{
	width: 16px;
	height: 16px;
	margin: 4px 0 6px 0;
	background-position: -128px -160px;
}
.m-timeline-2 .itm-2 .txt{
	font-weight: bold;
	font-size: 16px;
	color: #f42700;
}
.m-product-2{
	padding-bottom: 50px;
}
.m-product{
	position: relative;
	height: 100%;
	z-index: 1;
}
.m-stips{
	position: relative;
	padding-left: 61px;
	margin-top: 20px;
}
.m-product-2 .hd{
	height: 56px;
	width: 60px;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #e2e2e2;
}
.m-stips .ico{
	display: block;
	margin: 15px auto 2px auto;
	width: 22px;
	height: 22px;
	background: url(../images/ultimate-sprites.png) no-repeat -96px -544px;
	vertical-align: middle;
}
.m-stips .bd{
	position: relative;
	border: 1px solid #e2e2e2;
	background: #FFFFFF;
	line-height: 56px;
	height: 56px;
	color: #666666;
	overflow: hidden;
	padding-left: 15px;
}
.m-stips .itm{
	padding-right: 20px;
}
.m-product .m-choose{
	padding: 14px 0 0 0;
}
.m-choose .tt{
	padding-top: 8px;
	line-height: 24px;
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	width: 60px;
	float: left;
}
.m-choose .ct{
	padding-top: 6px;
	width: 560px;
	margin-left: 60px;
}
.m-choose .pro{
	display: inline-block;
	float: left;
	width: 50px;
	height: 19px;
	background: url(../images/tiyu/p_icon.jpg) no-repeat;
	padding-right: 10px;
	margin-left: 8px;
}
.m-choose .look{
	color: #ff4a00;
}
.m-product .m-choose-date,.m-product .m-choose-price{
	padding-top: 20px;
	float: left;
}
.m-choose .lst .itm{
	float: left;
	margin: 0 0 5px 6px;
	border: 1px solid #EAECEB;
	display: inline;
	overflow: hidden;
	background: #FFFFFF;
}
.m-choose .lst .itm a{
	display: block;
	line-height: 24px;
	padding: 4px;
	text-align: center;
	border: 1px solid #FFFFFF;
}
.m-product .m-cart{
	padding-top: 15px;
	clear: both;
}
.m-cart .ops{
	padding: 0 0 0 66px;
}
.m-cart .ops .u-btn{
	display: inline-block;
	width: 186px;
	margin-right: 15px;
	background: #FF4A00;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 11px 0;
}
.m-cart .ops .u-btn:hover,.u-btn-c1:hover{
	background: #d54003;
}
.m-qrcode .tt{
	position: relative;
	z-index: 1;
	font-size: 12px;
	font-weight: normal;
	padding: 4px 0 0 14px;
	width: 128px;
	height: 34px;
	line-height: 16px;
	color: #FFFFFF;
	background: url(../images/ultimate-sprites.png) no-repeat 0 -192px;
	cursor: pointer;
	overflow: hidden;
	float: right;
    margin-top: 40px;
}
.m-qrcode .tt1{
	position: relative;
	z-index: 1;
	font-size: 12px;
	font-weight: normal;
	padding: 4px 0 0 14px;
	width: 128px;
	height: 34px;
	line-height: 16px;
	color: #FFFFFF;
	background: url(../images/ultimate-sprites.png) no-repeat 0 -256px;
	cursor: pointer;
	overflow: hidden;
	float: right;
    margin-top: 40px;
}
.m-qrcode .ct{
	position: absolute;
    bottom: 100px;
    left: 480px;
    top: 260px;
    z-index: 999;
	width: 120px;
	height: 120px;
	padding: 10px 0 10px 10px;
	border: 1px solid #EAECEB;
	background: #FFFFFF;
	border-bottom:none;
	display: none;
}
.sd{
	position: relative;
	float: right;
	width: 270px;
	/*border-bottom:solid 1px #EAEAEA ;*/
}
.m-agent{
	padding: 16px 16px 30px 20px;
	vertical-align: middle;
}
.m-agent .ct a{
	color: #999999;
}
.m-agent .ct{
	line-height: 25px;
	display: block;
	
	margin-top: 20px;
}
.m-agent .tt{
	float: left;
}
.m-sdbox{
	border-bottom: 1px dotted #CCCCCC;
	margin: 0 20px;
	padding: 15px 0;
	position: relative;
}
.m-marking{
	padding: 20px 0 10px 0;
}
.m-marking .tt{
	color: #666666;
	font-weight: normal;
    font-size: 12px;
    float: left;
}
.m-marking .tt .ct{
	float: left;
	
}
.m-marking .lst{
	float: left;
}
.m-marking .itm{
	float: left;
	margin-left: 3px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.m-marking .null{
	background: url(../images/ultimate-sprites.png) no-repeat -160px -352px;
}
.m-marking .score{
	font-weight: bold;
	font-size: 18px;
	color: #E51A45;
	margin-left: 20px;
}
.m-marking .hd{
	position: relative;
	margin-top: 20px;
	height: 29px;
	line-height: 29px;
	background: #F6F6F6;
	border-bottom: 1px solid #EAECEB;
}
.m-marking .hd a{
	color: #2e98b2;
}
.m-marking .hd strong{
	font-weight: normal;
	color: #e41b45;
}
.m-marking .hd span{
	padding: 0 5px;
}
.m-sdbox .tt{
	font-weight: normal;
	font-size: 12px;
	color: #262626;
}
.m-showtime .txt{
	float: left;
	margin-right: 5px;
	margin-top: 10px;
}
.m-showtime{
	border-top: 1px dotted #CCCCCC;
	margin: 0 20px;
	padding: 15px 0;
	font-size: 12px;
	position: relative;
	height: 150px;
}
.m-sdbox .u-btn-cal i{
	width: 14px;
	height: 14px;
}
.m-sdbox .u-btn i{
	width: 16px;
	height: 16px;
	float: left;
	margin: 10px 4px 0 10px;
	overflow: hidden;
	background: url(../images/ultimate-sprites.png) no-repeat 0 -32px;
}
.m-sdbox .ct a{
	color: #909090;
}
.m-sdbox .u-btn-traffic{
	position: relative;
    top: 5px;
}
.m-sdbox .u-btn-traffic i{
	background: url(../images/ultimate-sprites.png) no-repeat 0 -64px;
}
.m-venue{
	line-height: 24px;
	padding:20px 0;
}
.m-support{
	padding:20px 0;
	height: 63px;
}
.m-mantab .itm{
	height: 24px;
}
.m-support li{
	float: left;
	padding-right: 4px;
}
.m-support ul .u-btn{
	width: 72px;
	position: relative;
    top: 8px;
}
.m-sdbox .u-btn-choose i{
	background: url(../images/ultimate-sprites.png) no-repeat -32px -64px;
}
.m-sdbox .u-btn-super i{
	background: url(../images/ultimate-sprites.png) no-repeat -64px -32px;
}
.m-sdbox .u-btn-wallet i{
	background: url(../images/ultimate-sprites.png) no-repeat -64px -64px;
}
.m-sdbox .u-btn-credit i{
	background: url(../images/ultimate-sprites.png) no-repeat -160px -416px;
}
.m-sdbox .u-btn-express i{
	background: url(../images/ultimate-sprites.png) no-repeat -128px -640px;
}
.m-entity .u-sel{
	display: inline-block;
	margin: 4px 0;
}
.u-sel{
	position: relative;
	line-height: 18px;
}
.u-sel-c1 .hd{
	padding: 0 10px;
	background: #FF4A00;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	border: none;
	height: 18px;
	overflow: hidden;
}
.u-sel-c1 .hd .ico{
	vertical-align: top;
	margin: 8px 0 0 4px;
	width: 8px;
	height: 4px;
	overflow: hidden;
	background: url(../images/ultimate-sprites.png) no-repeat -128px -128px;
}
.m-choose .lst li a:hover{
	color: #FF4A00;
}
.m-sdbox .ct a:hover{
	text-decoration: underline;
}
.m-marking .hd a:hover,.hd .m-cm a:hover{
	color: #D70000;
}

.m-box-co12{
	margin-top: 20px;
	/*height: 6700px;*/
}
.m-box-co12 .mn{
	position: relative;
	float: left;
	width: 966px;
}
.m-box-co12 .hd{
	position: relative;
	border-bottom: 1px solid #E5E5E5;
	height: 44px;
	
}
.m-box-co12 .mm-hd{
	width: 966px;
	z-index: 999;
}
.m-box-co12 .nav .tab li{
	float: left;
	height: 44px;
	line-height: 44px;
}
.m-box-co12 .nav{
	height: 44px;
	line-height: 44px;
}
.m-box-co12 .nav .tab .z-crt{
	color: #FF4A00;
	background: #FFFFFF;
	border-top: 2px solid #FF4A00;
	position: relative;
	top: -1px;
	height: 46px;
	overflow: hidden;
	line-height: 46px;
	border-left: none !important;
}
.m-box-co12 .nav .tab .itm-tab{
	float: left;
	padding: 0 34px;
	font-size: 14px;
	border-left: 1px solid #E5E5E5;
	cursor: pointer;
}
.m-box-co12 .nav .tab .itm-tab strong{
	color: #FF4A00;
	font-size: 12px;
}
.m-box-co12 .itm-tab{
	padding: 40px;
}
.m-infobase{
	color: #666666;
	font-size: 14px;
	line-height: 24px;
}
.m-infobase .infoitm .tt{
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #8c8c8c;
	border-left: 2px solid #FF4A00;
	margin-bottom: 16px;
	background: url(../images/tiyu/m-tab-dot.png) repeat-x 0 center;
}
.m-infobase .infoitm .tt .txt{
	padding: 0 20px 0 10px;
	background: #FFFFFF;
}
.m-infobase .itm-tab .ct{
	padding-bottom: 30px;
}
.m-infobase .ct .table-info{
	width: 700px;
	padding: 10px 86px 0 100px;
}
.m-table2{
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #888888;
	border-spacing: 0;
}
.m-table2 td{
	line-height: 24px;
	font-size: 14px;
	color: #666666;
	padding: 8px 10px;
	border-bottom: 1px solid #E5E5E5;
}
.m-table2 .bg{
	width: 110px;
	font-weight: bold;
	background: #F6F6F6;
	border-right: 1px solid #E5E5E5;
}
.infoitm .itm-tab .ct{
	padding-bottom: 30px;
}
.m-infobase .infoitm .ct .pre{
	padding: 14px 86px 0 100px;
}
.ct .pre h4{
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #333333;
	padding: 0 6px;
	margin-bottom: 25px;
	margin-top: 25px;
	background: #EEEEEE;
}
.ct .pre  img{
	display: block;
	margin: 0 auto;
}
.ct .pre {
	font-family: "宋体";
}
.m-comment .m-asklst{
	border: none;
}
.m-comment .m-dramaed .m-asked{
	margin-bottom: 5px;
}
.m-asked{
	background: #f3f3f3;
	padding: 30px 20px 10px 20px;
	height: 70px;
}
.m-asked .editor{
	float: left;
	background: #FFFFFF;
	margin-right: 20px;
	overflow: hidden;
	display: inline;
}
.m-asked textarea{
	width: 658px;
	color: #999999;
	display: block;
}
.m-asked .editor textarea{
	display: block;
	padding: 14px 10px 12px 10px;
	font-size: 12px;
	line-height: 24px;
	height: 24px;
	min-height: 24px;
	border: 0;
	text-decoration: none;
}
.m-asked .u-btn-submit{
	float: left;
	width: 148px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}
.u-btn-c1{
	background: #FF4A00;
	text-align: center;
	color: #FFFFFF;
}
.m-comment .m-comlong{
	height: 20px;
	line-height: 20px;
	text-align: right;
}
.m-comment .m-comlong a{
	color: #888888;
}
.m-asklst .lst{
	padding-bottom:22px ;
}
.m-asklst a{
	float: right;
	color: #222222
}
.m-faq .hd{
	background: none;
	border-bottom: 1px solid #dfdfdf;
}
.m-faq .hd .tt{
	float: left;
	font-weight: normal;
	font-size: 18px;
	padding-bottom: 16px;
	color: #333333;
}
.m-asknav{
	float: right;
}
.m-asknav li{
	float: left;
}
.m-asknav .z-crt{
	border-bottom: 2px solid #FF4A00;
}
.m-asknav .itm{
	position: relative;
	top: 1px;
	font-size: 12px;
	line-height: 12px;
	height: 34px;
	
}
.z-crt{
	background: #ECECEC;
	color: #afafaf;
	cursor: default;
}
.m-asknav .itm .txt{
	display: block;
	color: #333333;
	line-height: 12px;
	padding: 0 5px;
	margin-top: 5px;
	border-left: 1px solid #000000;
}
.m-asknav .itm li:hover{
	border-bottom: none;
}
.m-askeditor{
	background: #F3F3F3;
	padding: 30px 20px 10px 20px;
	margin-bottom: 15px;
	height: 70px;
}
.m-askeditor .avatar{
	float: left;
	width: 50px;
	margin-right: 20px;
	background: transparent;
}
.m-askeditor .avatar img{
	display: block;
	width:100%;
}
.m-askeditor .editor{
	float: left;
	background: #FFFFFF;
	margin-right: 20px;
	overflow: hidden;
	display: inline;
}
.m-askeditor .editor textarea{
	display: block;
	width: 420px;
	padding: 14px 10px 12px 10px;
	font-size: 12px;
	line-height: 24px;
	height: 24px;
	min-height: 24px;
	border: 0;
}
.m-askeditor .u-btn-submit{
	float: left;
	width: 148px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}
.m-askeditor .u-btn-service{
	margin-left: 20px;
	background: url(../images/tiyu/u-btn-service.gif)  no-repeat 15px 11px #E51B46;
	text-align: center;
	cursor: pointer;
	color: #FFFFFF;
	
}
.m-askedtips{
	margin-bottom: 14px;
	color: #B6B6B6;
	font-size: 12px;
	line-height: 24px;
}
.m-askedtips .ico{
	float: left;
	width: 16px;
	height: 16px;
	margin: 4px 10px 0 0;
	background: url(../images/ultimate-sprites.png) no-repeat -96px -32px;
}
.m-askedtips a{
	color: #333333;
	margin: 0 5px;
}
.m-asklst{
	border-top: 1px dotted;
}
.m-asklst .lst{
	padding-bottom: 22px;
}
.m-asklst .itm{
	position: relative;
	border-bottom: 1px dotted #CCCCCC;
	margin: 30px 0 0 0;
	padding: 0 0 30px 0;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}
.m-asklst .itm .bar{
	position: relative;
	background: #F3F3F3;
	margin-bottom: 16px;
	padding: 16px 20px;
	color: #666666;
}
.m-asklst .itm .bar .info{
	margin-left: 550px;
}
.m-asklst .itm .bar .info .datetime{
	padding-right: 4px;
}
.m-asklst .itm .ask .ico-ask{
	float: left;
	margin: 4px 10px 0 0;
	overflow: hidden;
	width: 44px;
	height: 16px;
	background: url(../images/ultimate-sprites.png) no-repeat 0 -512px;
}
.m-asklst .itm .reply .ico-reply{
	float: left;
	margin: 4px 10px 0 0;
	overflow: hidden;
	width: 44px;
	height: 16px;
	background: url(../images/ultimate-sprites.png) no-repeat -64px -512px;
}
.m-asklst .itm .bar .ico{
	display: inline-block;
	margin: 0 6px -3px 12px;
}
.m-asklst .itm .ico-android{
	width: 12px;
	height: 16px;
	background: url(../images/ultimate-sprites.png) no-repeat;
	background-position:  -64px -480px;
}
.m-asklst .itm .ask .txt{
	width: 770px;
	padding-left: 55px;
}
.m-asklst .itm .reply{
	position: relative;
	background: #F3F3F3;
	padding: 16px 20px;
	color: #666666;
	margin-left: 30px;
}
.m-asklst .ops{
	text-align: right;
}
.m-asklst .ops a:hover{
	color: #D70000;
}
.m-box .subitem ul li{
	position: relative;
	z-index: 10;
	border-bottom: 1px dashed #cfcfcf;
	height: 78px;
}
.m-box .subitem ul li a{
	display: block;
	padding: 15px 0 10px 80px;
	height: 53px;
}
.m-box .subitem ul li .s-t1{
	font-size: 16px;
	color: #555555;
	line-height: 22px;
	padding-bottom: 2px;
}
.m-box .subitem ul li .s-t2{
	font-size: 12px;
	color: #999999;
	line-height: 16px;
}
.m-box .subitem ul li.s-ion1 a{
	background: url(../images/tiyu/i-01.png) no-repeat 15px 10px;
}
.m-box .subitem ul li.s-ion2 a{
	background: url(../images/tiyu/i-01.png) no-repeat 15px -78px;
}
.m-box .subitem ul li.s-ion3 a{
	background: url(../images/tiyu/i-01.png) no-repeat 15px -168px;
}
.s-ewm{
	position: absolute;
	left: -125px;
	top: 0;
    width: 123px;
    height: 168px;
    text-align: center;
    color: #323232;
    font-family: "Microsoft YaHei";
    line-height: 18px;
    background: url(../images/floor/i-02.png) no-repeat;
    font-size: 14px;
    text-align: center;
    display: none;
}
.s-ewm .f14{
	margin-top: 5px;
	
}
.s-ewm strong{
	font-weight: normal;
}
.s-ewm > img{
	margin-left: 6px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.m-hot .bd{
	padding: 20px;
}
.m-hot .z-crt{
	background: none;
	padding: 0;
}

.m-hot .hot{
	margin-bottom: 12px;
	padding-bottom: 8px;
	border-bottom: 1px dotted #CCCCCC;
}
.m-sdlst .itm a{
	color: #333333;
}
.m-hot .thumb{
	display: block;
	width: 100%;
	margin: 0 auto 8px;
	overflow: hidden;
}
.m-hot .thumb img{
	width: 100%;
	display: block;
}
.m-hot .tt{
	background: none;
	padding-left: 0;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
}
.m-hot .z-crt .info{
	display: none;
}
.m-hot .z-crt .hot{
	display: block;
}
.itm .hot{
	display: none;
}
.m-sdlst .itm{
	color: #333333;
	font-size: 12px;
	line-height: 18px;
	padding: 0 0 8px 16px;
	background: url(../images/tiyu/m-sdlst-ico.png) no-repeat 3px 7px;
}
.m-sdlst .itm .datetime{
	color: #8C8C8C;
}
.m-hot .tt a:hover{
	color: #D70000;
}
.m-sdbox2 .hd .tt{
	margin: 10px 20px 0 20px;
	padding: 0 10px;
	border-left: 2px solid #FF4A00;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	vertical-align: middle;
}
.m-sdbox2 .hd{
	height: 44px;
	background: #F6F6F6;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
}
.m-history .m-sdlst{
	margin: 18px 20px 10px 20px;
}
.m-history .bd{
	margin: 0;
}
.m-infobase{
	color: #666666;
	font-size: 14px;
	line-height: 24px;
}
.m-buy .infoitm{
	padding-bottom: 20px;
}
.m-infobase .infoitm .stt{
	display: block;
	padding: 2px 0 2px 0;
	font-weight: normal;
	color: #E51A45;
}
.bd .itm-tab.z-show{
	display: block;
}
.bd .itm-tab{
	display: none;
}
.m-pay .lst li{
	width: 107px;
	height: 25px;
	overflow: hidden;
	float: left;
	margin: 5px 0 20px 5px;
}
.m-buy .appink{
	padding: 10px 0;
}
.m-buy .appdown{
	padding: 5px 0 0 15px;
	overflow: hidden;
}
.m-buy .hotlike{
	font-size: 22px;
	color: #E51A45;
}
.m-buy .c7{
	color: #2F97B4;
}
.m-buy .c7:hover{
	color: #E51A45;
}
.m-pay a{
	color: #2F97B4;
}
.m-pay a:hover{
	color: #E51A45;
}
.m-pay .stt{
	display: block;
	padding: 2px 0 2px 0;
	font-size: 14px;
	font-weight: normal;
	color: #E51A45;
}
.m-pay .lst li,.m-pay .lst li img{
	width: 107px;
	height: 25px;
	overflow: hidden;
}
.m-pay dd{
	padding: 5px 0 20px 12px;
}
.m-buy .appink a{
	float: left;
	display: block;
	width: 152px;
	height: 40px;
	margin-right: 10px;
	background: url(../images/tiyu/bg_app.png) no-repeat 0 -300px;
}
.m-buy .appink .iphone{
	background: url(../images/tiyu/bg_app.png) no-repeat 0 -300px;
}
.m-buy .appink .ipad{
	background: url(../images/tiyu/bg_app.png) no-repeat 0 -380px;
}
.m-buy .appink .android{
	background: url(../images/tiyu/bg_app.png) no-repeat 0 -460px;
}
.m-buy .appink .iphone:hover{
	background: url(../images/tiyu/bg_app.png) no-repeat 0 -340px;
}
.m-buy .appink .ipad:hover{
	background: url(../images/tiyu/bg_app.png) no-repeat 0 -420px;
}
.m-buy .appink .android:hover{
	background: url(../images/tiyu/bg_app.png) no-repeat 0 -500px;
}